{% extends "layout.html" %}
{% block content %}
<div class="container">
    <p class="display-1">Account</p>
    <p class="display-4">{{ current_user.username }}'s profile</p>

    <div class="media p-4 m-auto">
        <img class="rounded-circle" height="140" width="140" style="object-fit: cover;" src="{{ image_file }}">
        <div class="media-body p-4">
            <p class="text">Username : {{ current_user.username }}</p>
            <p class="text">Email : {{ current_user.email }}</p>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="container border p-5">
                <div class="content-section">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="border-bottom">Update Account</legend>
                            <div class="form-group">
                                {{ form.picture.label() }}
                                {{ form.picture(class="form-control-file") }}
                            </div>
                            <div class="form-group">
                                {{ form.username.label(class="form-control-label") }}
                                {{ form.username(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.email.label(class="form-control-label") }}
                                {{ form.email(class="form-control") }}
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <div class="form-group">
                                {{ form.submit(class="btn btn-outline-success") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



{% endblock %}