{% extends "layout.html" %}
{% block content %}
<div class="container mt-4">
    <div class="container border p-3">
        <div class="content-section">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom">Post Form</legend>
                    <div class="form-group">
                        {{ form.title.label(class="form-control-label") }}
                        {{ form.title(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.content.label(class="form-control-label") }}
                        {{ form.content(class="form-control") }}
                    </div>
                </fieldset>
                <div class="form-group">
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-success") }}
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% for post in posts %}

    <article class="media content-section border rounded p-3 mt-3 mb-3">
        <img class="rounded-circle p-2" height="75" width="75" style="object-fit: cover;"
            src="{{ url_for('static',filename='profile_pic/' + post.author.img_file) }}">
        <div class="media-body">
                <button class="btn btn-danger float-right">X</button>
            <div class="media-body">
                <div class="article-metadata">
                    <small clas="text-muted">{{ post.date_posted.strftime('%d-%m-%y') }}</small>
                </div>
                <p class='display-4'>{{ post.title }}</p>
                <div class="border rounded p-3">
                    <p class="text">{{ post.content }}</p>
                </div>
                <button class="btn btn-outline-success float-right m-4">Edit</button>

            </div>
        </div>
    </article>
{% endfor %}
</div> 
{% endblock %}