{% extends "layout.html" %}
{% block content %}
<div class="container">
    <p class="display-1">Home</p>
    {% for post in posts %}

    <article class="media content-section border rounded p-3 m-3">
        <img class="rounded-circle p-2" height="75" width="75" style="object-fit: cover;"
            src="{{ url_for('static',filename='profile_pic/' + post.author.img_file) }}">
        <div class="media-body">
            <div class="media-body">
                <div class="article-metadata">
                    <p>{{ post.author.username }} says :</p>
                    <small clas="text-muted">{{ post.date_posted.strftime('%d-%m-%y') }}</small>
                </div>
                <p class='display-4'>{{ post.title }}</p>
                <div class="border rounded p-3">
                    <p class="text">{{ post.content }}</p>
                </div>

            </div>
        </div>
    </article>

    {% endfor %}
</div>
{% endblock %}