{% extends "layout.html" %}
{% block content %}
<div class="container">
    <p class="display-1">Login</p>
    <div class="container border p-5">
        <div class="content-section">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom">Login</legend>
                    <div class="form-group">
                        {{ form.username.label(class="form-control-label") }}
                        {{ form.username(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {{ form.password(class="form-control") }}
                    </div>
                </fieldset>
                <div class="form-group">
                    <div>
                        {{ form.remember_me() }}
                        {{ form.remember_me.label() }}
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-success") }}
                    </div>
                </div>
            </form>
            <div class="border-top">
                <small class="text-muted">
                    Don't have an account? <a href="{{ url_for('register') }}" class="ml-2">Sign up</a>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock %}