{% extends "layout.html" %}
{% block content %}
<div class="container">
    <p class="display-1">Register</p>

    <div class="container border p-5">
        <div class="content-section">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom">Register</legend>
                    <div class="form-group">
                        {{ form.username.label(class="form-control-label") }}
                        {{ form.username(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {{ form.email(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {{ form.password(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.confirm_password.label(class="form-control-label") }}
                        {{ form.confirm_password(class="form-control") }}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-success") }}
                </div>
            </form>
            <div class="border-top">
                <small class="text-muted">
                    Already have an account? <a href="{{ url_for('login') }}" class="ml-2">login</a>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock %}